{% if color == 'green-100' %}
    <div class="tw-flex-none tw-rounded-full tw-bg-emerald-100/20 tw-p-1">
        <div class="tw-h-1.5 tw-w-1.5 tw-rounded-full tw-bg-emerald-100"></div>
    </div>
{% elseif color == 'green-300' %}
    <div class="tw-flex-none tw-rounded-full tw-bg-emerald-300/20 tw-p-1">
        <div class="tw-h-1.5 tw-w-1.5 tw-rounded-full tw-bg-emerald-300"></div>
    </div>
{% elseif color == 'green' %}
    <div class="tw-flex-none tw-rounded-full tw-bg-emerald-500/20 tw-p-1">
        <div class="tw-h-1.5 tw-w-1.5 tw-rounded-full tw-bg-emerald-500"></div>
    </div>
{% elseif color == 'orange' %}
    <div class="tw-flex-none tw-rounded-full tw-bg-orange-500/20 tw-p-1">
        <div class="tw-h-1.5 tw-w-1.5 tw-rounded-full tw-bg-orange-500"></div>
    </div>
{% elseif color == 'red' %}
    <div class="tw-flex-none tw-rounded-full tw-bg-red-500/20 tw-p-1">
        <div class="tw-h-1.5 tw-w-1.5 tw-rounded-full tw-bg-red-500"></div>
    </div>
{% elseif color == 'gray' %}
    <div class="tw-flex-none tw-rounded-full tw-bg-gray-500/20 tw-p-1">
        <div class="tw-h-1.5 tw-w-1.5 tw-rounded-full tw-bg-gray-500"></div>
    </div>
{% endif %}
