<div class="tw-hidden lg:tw-fixed lg:tw-inset-y-0 lg:tw-z-50 lg:tw-flex lg:tw-w-72 lg:tw-flex-col">
    <div class="tw-flex tw-grow tw-flex-col tw-gap-y-5 tw-overflow-y-auto tw-border-r tw-border-gray-200 tw-bg-white tw-px-6 tw-pb-4">
        {% include 'layout/_logo.html.twig' %}
        <nav class="tw-flex tw-flex-1 tw-flex-col">
            {% include "layout/_sidebarItemList.html.twig" %}
        </nav>
    </div>
</div>
