<div class="tw-sticky tw-top-0 tw-z-40 lg:tw-mx-auto lg:tw-max-w-7xl lg:tw-px-8">
    <div class="tw-flex tw-h-16 tw-items-center tw-gap-x-4 tw-border-b tw-border-gray-200 tw-bg-white tw-px-4 tw-shadow-sm sm:tw-gap-x-6 sm:tw-px-6 lg:tw-px-0 lg:tw-shadow-none">
        <button type="button" class="-tw-m-2.5 tw-p-2.5 tw-text-gray-700 lg:tw-hidden" data-controller="sidebarmobilebutton" data-action="click->sidebarmobilebutton#click">
            <span class="tw-sr-only">Open sidebar</span>
            <svg class="tw-h-6 tw-w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
            </svg>
        </button>
    </div>
</div>
